#big-title{
    text-align: center;
    background-color: whitesmoke;
    color: darkgray;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
}

#QuesoLink{
    background-color: whitesmoke;
    font-size: 25px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#VegetarianThing{
    background-color: whitesmoke;
    font-size: 25px;
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#GarlicButterCSS{
    background-color: whitesmoke;
    color: gray;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}